
/* Copyright 2008-2020 Douglas Wikstrom
 *
 * This file is part of Verificatum JavaScript Cryptographic library
 * (VJSC).
 *
 * Permission is hereby granted, free of charge, to any person
 * obtaining a copy of this software and associated documentation
 * files (the "Software"), to deal in the Software without
 * restriction, including without limitation the rights to use, copy,
 * modify, merge, publish, distribute, sublicense, and/or sell copies
 * of the Software, and to permit persons to whom the Software is
 * furnished to do so, subject to the following conditions:
 *
 * The above copyright notice and this permission notice shall be
 * included in all copies or substantial portions of the Software.
 *
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND,
 * EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF
 * MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
 * NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS
 * BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN
 * ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN
 * CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
 * SOFTWARE.
 */

body
{
    font-family: "Times New Roman", Times, serif;
    max-width: 700px;
    background-color: white;
    color: black;
    font-size: 100%;
    margin-top: 2em;
    margin-bottom: 2em;
    margin-right: 1.5em;
    margin-left: 1.5em;
}

th, td {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 2px;
  padding-bottom: 2px;
}

table {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

table, th {
    border-bottom: 2px solid black;
}
table, th, tr, td {
    text-align: left;
    border-collapse: collapse;
    border-left: 2px solid black;
    border-right: 2px solid black;
}
