
/*
 * Copyright 2008-2018 Douglas Wikstrom
 *
 * This file is part of Verificatum JavaScript Cryptographic
 * library (VJSC).
 *
 * VJSC is free software: you can redistribute it and/or modify it
 * under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * VJSC is distributed in the hope that it will be useful, but WITHOUT
 * ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
 * or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General
 * Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public
 * License along with VJSC. If not, see
 * <http://www.gnu.org/licenses/>.
 */

body
{
    font-family: "Times New Roman", Times, serif;
    max-width: 700px;
    background-color: white;
    color: black;
    font-size: 100%;
    margin-top: 2em;
    margin-bottom: 2em;
    margin-right: 1.5em;
    margin-left: 1.5em;
}

th, td {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 2px;
  padding-bottom: 2px;
}

table {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

table, th {
    border-bottom: 2px solid black;
}
table, th, tr, td {
    text-align: left;
    border-collapse: collapse;
    border-left: 2px solid black;
    border-right: 2px solid black;
}
